@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&family=Nanum+Gothic:wght@400;700&display=swap");

:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}
/* @media screen and (min-width: 380px) and (max-width: 1025px) {
  background-color: lightgray;
} */
/*Navigation*/
nav {
  background-color: #f5f5f5;
  height: 60px;
  text-align: center;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  line-height: 60px;
  color: black;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

nav a:hover {
  color: #898989;
}

/* Home Page main part */

main {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
main img {
  height: 350px;
  padding: 20px;
}

main div {
  margin: 30px 0;
}

main div h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 5px rgb(5, 70, 235);
}

main div p {
  font-size: 1.5rem;
  padding: 40px 0;
}

main div.home-content a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 50px;
  background-color: #0bc9eb;
  border-radius: 20px;
  color: white;
}

main div.home-content a:hover {
  color: #0bc9eb;
  background-color: white;
  border: 1px solid #0bc9eb;
}

/* About me page main part*/
main div.about-content div {
  width: 25%;
  display: inline-block;
  padding: 20px;
  margin: 30px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  color: #504e4e;
  text-align: justify;
}
main div.about-content div p {
  padding-top: 20px;
}
main div.about-content div p mark {
  background-color: #d7ecf4;
}
main div.about-content div i.fas,
main div.about-content div i.far {
  font-size: 4rem;
  display: block;
  text-align: center;
  color: #6adaf4;
}
main div.about-content div:hover i.fas,
main div.about-content div:hover i.far {
  color: #2798ee;
}
main div.about-content div:hover p mark {
  background-color: #83e4ee;
}
main div.about-content div:hover {
  font-weight: bold;
}

/* Service page main part */
main div div.services-box {
  margin: 0 200px;
  text-align: left;
}
main div.services-box img {
  height: 150px;
}
main div.services-box p {
  padding: 0 20px 20px;
  text-align: justify;
}
main div.services-box p span {
  color: orange;
  font-weight: bold;
}
main div div.services-box:nth-of-type(2) {
  text-align: right;
}
/* Portfolio page main part */
main div div.portfolio-box {
  margin: 0 200px;
  text-align: left;
}
main div .portfolio-box img {
  height: 150px;
}
main div .portfolio-box p {
  padding: 0 20px 20px;
  text-align: justify;
}
main div div.portfolio-box:nth-of-type(2) {
  text-align: right;
}

/* Contact page main part */
main .contact-content address {
  font-size: 1.6rem;
}
main .contact-content p i {
  color: #47afff;
}
main .contact-content p i.fas,
main .contact-content p i.fab {
  color: #0c40ed;
  font-size: 2rem;
  padding: 0 5px;
  text-shadow: 3px 3px 5px #797575;
}
